body {

}

#editPost-body, #newPost-body {
    height: 20em;
}

.blog-post {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(150,180,230);

    margin: 1em;
    padding: 1em;
    border-radius: .5em;
    background-color: rgb(220,240,255);

    box-shadow: .25em .25em .4em 0 rgba(20,20,0,0.5);
}

.blog-post:nth-of-type(1) {
    margin-top: 1em;
    border-top-style: solid;
}

.blog-post:nth-last-of-type(1) {
    margin-bottom: 1em;
}


.blog-post > .blog-post-subject {
    font-weight: bold;
    font-size: 120%;

}

.blog-post > .blog-post-body {
    padding: 0;
    border: none;
    background-color: transparent;
    font-family: inherit;
}

.blog-post > .blog-post-subinfo {
    text-align: right;
    border-top: 1px solid lightgrey;
    margin-top: 5px;
    padding-top: 5px;

    color: grey;
    font-style: italic;
}

.blog-post > .blog-post-subinfo > .blog-post-admin {
    display: inline-block;
}

.blog-post > .blog-post-subinfo > .blog-post-author {
    display: inline-block;
}

.blog-post > .blog-post-subinfo > .blog-post-date {
    display: inline-block;
}

