

<h2>foo2</h2>

<script type="text/x-handlebars" data-template-name="posts">

    <h2>Current Posts</h2>

    {{#each post in model itemController="postEdit"}}
    <div class="blog-post">
        <div class="blog-post-subject">{{post.subject}}</div>
        <div class="blog-post-body">{{post.body}}</div>
        <div class="blog-post-subinfo">
            <div class="blog-post-author">Posted by <b>{{post.author}}</b></div>
            <div class="blog-post-date">on {{date post.date format="MMM Do, YYYY [at] h:mm a "}}</div>
            <div class="blog-post-admin">
                <a href="#" {{action deletePost}}><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                {{#link-to 'post.edit' post}}<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>{{/link-to}}
            </div>
        </div>
    </div>
    {{/each}}

    <button {{action createNewPost}}>New Post</button>
</script>

<script type="text/x-handlebars" data-template-name="post/edit">

    <ol class="breadcrumb">
        <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
        <li class="active">{{subject}}</li>
    </ol>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="editPost-subject" class="col-sm-2 control-label">Subject</label>
            <div class="col-sm-10">
                {{input
                type="text"
                id="editPost-subject"
                placeholder="Subject"
                value=subject
                }}
            </div>
        </div>
        <div class="form-group">
            <label for="editPost-body" class="col-sm-2 control-label">Body</label>
            <div class="col-sm-10">

                {{textarea
                    id="editPost-body"
                    placeholder="..."
                    spellcheck="true"
                    value=body
                }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" {{action save}}>Save</button>
            </div>
        </div>
    </form>
</script>

<script type="text/x-handlebars" data-template-name="post/create">

    <ol class="breadcrumb">
        <li>{{#link-to 'posts'}}People{{/link-to}}</li>
        <li class="active">New Post</li>
    </ol>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="newPost-author" class="col-sm-2 control-label">Author</label>
            <div class="col-sm-10">
                {{input
                type="text"
                id="newPost-author"
                placeholder="Author"
                value=author
                }}
            </div>
        </div>
        <div class="form-group">
            <label for="newPost-subject" class="col-sm-2 control-label">Subject</label>
            <div class="col-sm-10">
                {{input
                type="text"
                id="newPost-subject"
                placeholder="Subject"
                value=subject
                }}
            </div>
        </div>
        <div class="form-group">
            <label for="newPost-body" class="col-sm-2 control-label">Body</label>
            <div class="col-sm-10">
                {{textarea
                    id="newPost-body"
                    placeholder="..."
                    spellcheck="true"
                    value=body
                }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" {{action save}}>Save</button>
            </div>
        </div>
    </form>
</script>